#startButton {
    background-color: green;
}
  .title-container {
    display: flex;
    align-items: center;
  }
  
  .titleImage {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #arenaContainer {
    padding: 10px;
  }

  .text-light {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .userInput {
    border-radius: 5px;
    height: 40px;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .input-wrapper input {
    margin-right: 0px; 
  }





 


